<%= form_for(@basic_heroscope) do |f| %>
  <% if @basic_heroscope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic_heroscope.errors.count, "error") %> prohibited this basic_heroscope from being saved:</h2>

      <ul>
      <% @basic_heroscope.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :time %><br>
    <%= f.time_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tzone %><br>
    <%= f.text_field :tzone, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :birth_place %><br>
    <%= f.text_field :birth_place, class: "form-control" %>
  </div>
  <div class="actions">
    <center><%= f.submit "Get Details", class: "btn btn-primary" %></center>
  </div>
<% end %>
